body{
    background-color: aqua;
}

.card{
    background-color: rgba(0, 0, 255, 0.093);
    padding: 15px; 
    margin: 15px 30px;
    box-shadow: aqua 0px 0px 15px;
    min-height: 450px;
} 

.card p{
    font-size: 1.2em;
}

.badge-html{
    background-color: #E44D26;
    color: white;
}

.badge-css{
    background-color: #264DE4;
    color: white;
}

.badge-bootstrap{
    background-color: #7144A7;
    color: white;
}

.badge-js{
    background-color: #F7E018;
    color: white;
}

#home{
    min-height: 630px;
}

#sobre{
    background-color: #01E9FF;
}

#habilidades{
    background-color: #41ABC3;
}

#projetos{
    background-color: #1996C2;
}

#contato{
    background-color: #4A9AE9;
}

.row {
    height: 100vh;
}

.titulo{
    color: blue;
    font-weight: 400;
}

.tecnologias{
    width: 80%;
}

.icone{
    height: 40px;
    width: 45px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.tela-inicial img {
    width: 90%;
}

.txt-home{
    margin-top: 50px;
}

#linkedin{
    font-size: 50px;
    color: #0A66C2;
}

#a-linkedin{
    background-color: white;
    border-radius: 5px;
    height: 45px;
    width: 50px;
}

#github{
    font-size: 50px;
    color: black;
}

#discord{
    font-size: 30px;
    color: white;
    background-color: #5165F6;
    padding: 10px;
    border-radius: 30px;
    height: 50px;
    width: 50px;
}

.tec{
    margin: 5px;
}

.tec:hover{
    transition: 0.5s;
    width: 75px;
    height: 70px;
    margin: 0;
}

.img-sobre{
    margin-bottom: 50px;
}

.txt-sobre{
    margin-top: 50px;
}

.download-cv{
    width: 200px;
}

.contato{
    font-size: 1.5em;
}

#botao-home{
    font-size: 40px;
    position: fixed;
    bottom: 40px;
    right: 50px;
}

@media (max-width: 1024px) {
    .titulo{
        font-size: 0.9em;
    }

    .lead{
        font-size: 1.2em;
    }

    .tecnologias{
        width: 90%;
    }

    .icone{
        height: 30px;
        width: 35px;
    }

    #linkedin{
        font-size: 40px;
    }

    #a-linkedin{
        height: 35px;
        width: 40px;
    }

    #github{
        font-size: 40px;
    }

    #discord{
        font-size: 20px;
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 992px){
    #sobre *{
        align-items: center;
    }

    .img-sobre img{
        width: 50%;
    }

    #sobre p{
        text-align: center;
    }

    .img-sobre{
        margin-bottom: 0;
    }
    
    .txt-sobre{
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    #home .txt-home{
        margin-top: -50px;
        text-align: center;
        align-items: center;
    }

    .img-home img{
        width: 50%;
    }

    .titulo{
        font-size: 0.8em;
    }

    .lead{
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    .titulo{
        font-size: 0.8em;
    }

    .lead{
        font-size: 1em;
    }
}